extends layout

block head
  script(src="/socket.io/socket.io.js")
  != js("index")
  != js("bootstrap-tooltip")
  
block main
  ul.thumbnails
    each image in images
      li.span3
        .image_container
          - var image_name = image.name || ""
          a.thumbnail(href=image.slug, title=image_name, rel="tooltip")
            img(src="//s3.amazonaws.com/"+process.env.S3_BUCKET+"/"+image.id+"/thumb/"+image.file_name)
  li.span3.hide.thumb_template
    a.thumbnail(href="#")
      img(src="")
