!!!
html
  head
    title upImage | The simplest way to share images online
    != css("main")
    != js("jquery-1.7.2")
    block head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="/") upImage
          ul.nav.pull-right
            - var uploading = uploading || ""
            li(class=uploading)
                a(href="upload") Upload an Image
    .container
      .main
        block main